<nav id="demo" style="background-color:white;box-shadow:0px 1px 5px 0px #9e9e9e;position:fixed;width:95%;right:0;top:0;height:70px;z-index:11;transition:0.5s ease">
    <div class="container-fluid">

            <ul class="nav ml-auto" style="padding:20px;">
                
                <li style="padding:15px 10px;">
                    <input type="checkbox" id="show_hide_sidebar" style="display:none;">
                    <!--<label for="show_hide_sidebar"><i class="fa fa-times"></i></label>-->
                    <label for="show_hide_sidebar"><i class="fa fa-bars" style="font-size:20px;"></i></label>
                </li>
                 <!--<li class="nav-item" style="color:#777777;font-weight:bold;padding:0px 0px 0px 10px;font-size:20px;">Hi-->
                 <!--       {{ display_username }}-->
                 <!--   <button type="button" style="padding:15px 5px;border:none;outline:none;background-color: transparent;color:#777777;"-->
                 <!--       data-toggle="modal" data-target="#instructions_modal">-->

                 <!--       <i class="fa fa-info-circle hover_tooltip" style="cursor: default;color: #777777;" data-toggle="tooltip" title="Guidelines for Teacher"></i>-->
                 <!--   </button>-->
                </li> 
                 <li style="margin-left:auto;font-weight: bold;color:#0056b3" class="navbar-brand">Creative Coders

                </li>
            

    </div>

</nav>
<script>
    $('.hover_tooltip').tooltip();
</script>