@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
	background-color: rgb(216, 216, 216);
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}

.navbar-logo{
    /*height:10px;*/
    width:150px;
    margin:0 25px 0 30px;
	/*padding: 15px;*/
	/* color: #fff; */
	color: rgb(216, 216, 216);
}
.navbar-mainbg{
	/* background-color: #5161ce; */
	background-color: black;
	padding: 0px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: rgb(216, 216, 216);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	/* color: #5161ce; */
	color: black;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	/* background-color: #fff; */
	background-color: rgb(216, 216, 216);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	/* background-color: #fff; */
	background-color: rgb(216, 216, 216);
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: #5161ce; */
	background-color: black;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}


@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}

/* SLIDER */
  body {
	width: 100%;
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	overflow-x: hidden;
  }
  /* .main-slider {
	position: absolute;
	
  } */
  .slider-one,
  .slider-two,
  .slider-three,
  .slider-four {
	width: 100%;
	height: 89vh;
	position: absolute;
	top: 10;
	left: 0;
	animation: slider-one 12s linear infinite;
  }
  .slider-one .slider-one-image,
  .slider-one .slider-two-image,
  .slider-one .slider-three-image,
  .slider-one .slider-four-image,
  .slider-two .slider-one-image,
  .slider-two .slider-two-image,
  .slider-two .slider-three-image,
  .slider-two .slider-four-image,
  .slider-three .slider-one-image,
  .slider-three .slider-two-image,
  .slider-three .slider-three-image,
  .slider-three .slider-four-image,
  .slider-four .slider-one-image,
  .slider-four .slider-two-image,
  .slider-four .slider-three-image,
  .slider-four .slider-four-image {
	width: 110%;
	height: 100%;
	background-image: url("https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1784&q=80");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	animation: zoom-out 3s linear infinite;
  }
  .slider-one .slider-one-image .slider-text,
  .slider-one .slider-two-image .slider-text,
  .slider-one .slider-three-image .slider-text,
  .slider-one .slider-four-image .slider-text,
  .slider-two .slider-one-image .slider-text,
  .slider-two .slider-two-image .slider-text,
  .slider-two .slider-three-image .slider-text,
  .slider-two .slider-four-image .slider-text,
  .slider-three .slider-one-image .slider-text,
  .slider-three .slider-two-image .slider-text,
  .slider-three .slider-three-image .slider-text,
  .slider-three .slider-four-image .slider-text,
  .slider-four .slider-one-image .slider-text,
  .slider-four .slider-two-image .slider-text,
  .slider-four .slider-three-image .slider-text,
  .slider-four .slider-four-image .slider-text {
	position: absolute;
	top: 40%;
	left: 5%;
	color: #ffffff;
	width: 600px;
	text-transform: capitalize;
	animation: text-up 12s linear infinite;
	transform: translateY(100px);
	animation-delay: 0s;
  }
  .slider-one .slider-one-image .slider-text h1,
  .slider-one .slider-two-image .slider-text h1,
  .slider-one .slider-three-image .slider-text h1,
  .slider-one .slider-four-image .slider-text h1,
  .slider-two .slider-one-image .slider-text h1,
  .slider-two .slider-two-image .slider-text h1,
  .slider-two .slider-three-image .slider-text h1,
  .slider-two .slider-four-image .slider-text h1,
  .slider-three .slider-one-image .slider-text h1,
  .slider-three .slider-two-image .slider-text h1,
  .slider-three .slider-three-image .slider-text h1,
  .slider-three .slider-four-image .slider-text h1,
  .slider-four .slider-one-image .slider-text h1,
  .slider-four .slider-two-image .slider-text h1,
  .slider-four .slider-three-image .slider-text h1,
  .slider-four .slider-four-image .slider-text h1 {
	font-size: 2.5rem;
	margin-bottom: 20px;
  }
  .slider-one .slider-one-image .slider-text p,
  .slider-one .slider-two-image .slider-text p,
  .slider-one .slider-three-image .slider-text p,
  .slider-one .slider-four-image .slider-text p,
  .slider-two .slider-one-image .slider-text p,
  .slider-two .slider-two-image .slider-text p,
  .slider-two .slider-three-image .slider-text p,
  .slider-two .slider-four-image .slider-text p,
  .slider-three .slider-one-image .slider-text p,
  .slider-three .slider-two-image .slider-text p,
  .slider-three .slider-three-image .slider-text p,
  .slider-three .slider-four-image .slider-text p,
  .slider-four .slider-one-image .slider-text p,
  .slider-four .slider-two-image .slider-text p,
  .slider-four .slider-three-image .slider-text p,
  .slider-four .slider-four-image .slider-text p {
	font-size: 18px;
	line-height: 28px;
  }
  
  .slider-two {
	animation: slider-two 12s linear infinite;
  }
  .slider-two .slider-two-image {
	background-image: url("https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  }
  .slider-two .slider-two-image .slider-text {
	animation-delay: 3s;
  }
  
  .slider-three {
	animation: slider-three 12s linear infinite;
  }
  .slider-three .slider-three-image {
	background-image: url("https://images.unsplash.com/photo-1543269664-56d93c1b41a6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  }
  .slider-three .slider-three-image .slider-text {
	animation-delay: 6s;
  }
  
  .slider-four {
	animation: slider-four 12s linear infinite;
  }
  .slider-four .slider-four-image {
	background-image: url("https://images.unsplash.com/photo-1543269664-7eef42226a21?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  }
  .slider-four .slider-four-image .slider-text {
	animation-delay: 9s;
  }
  
  @keyframes text-up {
	10% {
	  transform: translateY(0px);
	}
	100% {
	  transform: translateY(0px);
	}
  }
  @keyframes zoom-out {
	100% {
	  width: 100%;
	}
  }
  @keyframes slider-one {
	0% {
	  visibility: visible;
	}
	25% {
	  visibility: hidden;
	}
	50% {
	  visibility: hidden;
	}
	75% {
	  visibility: hidden;
	}
	100% {
	  visibility: visible;
	}
  }
  @keyframes slider-two {
	0% {
	  visibility: hidden;
	}
	25% {
	  visibility: hidden;
	}
	50% {
	  visibility: visible;
	}
	75% {
	  visibility: hidden;
	}
	100% {
	  visibility: hidden;
	}
  }
  @keyframes slider-three {
	0% {
	  visibility: hidden;
	}
	25% {
	  visibility: hidden;
	}
	50% {
	  visibility: hidden;
	}
	75% {
	  visibility: visible;
	}
	100% {
	  visibility: hidden;
	}
  }
  @keyframes slider-four {
	0% {
	  visibility: hidden;
	}
	25% {
	  visibility: hidden;
	}
	50% {
	  visibility: hidden;
	}
	75% {
	  visibility: hidden;
	}
	100% {
	  visibility: visible;
	}
  }

  /* LOGIN */
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
  ::selection{
	background: #1a75ff;
	color: #fff;
  }
  .wrapper{
	overflow: hidden;
	position: relative;
	max-width: 390px;
	background: #fff;
	padding: 30px;
	border-radius: 15px;
	box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
	/* margin-top: 2% !important; */
	margin-left: 66%;
  }
  .wrapper .title-text{
	display: flex;
	width: 200%;
  }
  .wrapper .title{
	width: 50%;
	font-size: 35px;
	font-weight: 600;
	text-align: center;
	transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .wrapper .slide-controls{
	position: relative;
	display: flex;
	height: 50px;
	width: 100%;
	overflow: hidden;
	margin: 30px 0 10px 0;
	justify-content: space-between;
	border: 1px solid lightgrey;
	border-radius: 15px;
  }
  .slide-controls .slide{
	height: 100%;
	width: 100%;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	line-height: 48px;
	cursor: pointer;
	z-index: 1;
	transition: all 0.6s ease;
  }
  .slide-controls label.signup{
	color: #000;
  }
  .slide-controls .slider-tab{
	position: absolute;
	height: 100%;
	width: 50%;
	left: 0;
	z-index: 0;
	border-radius: 15px;
	background: -webkit-linear-gradient(left,#003366,#004080,#0059b3
  , #0073e6);
	transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  input[type="radio"]{
	display: none;
  }
  #signup:checked ~ .slider-tab{
	left: 50%;
  }
  #signup:checked ~ label.signup{
	color: #fff;
	cursor: default;
	user-select: none;
  }
  #signup:checked ~ label.login{
	color: #000;
  }
  #login:checked ~ label.signup{
	color: #000;
  }
  #login:checked ~ label.login{
	cursor: default;
	user-select: none;
  }
  .wrapper .form-container{
	width: 100%;
	overflow: hidden;
  }
  .form-container .form-inner{
	display: flex;
	width: 200%;
  }
  .form-container .form-inner form{
	width: 50%;
	transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .form-inner form .field{
	height: 50px;
	width: 100%;
	margin-top: 20px;
  }
  .form-inner form .field input{
	height: 100%;
	width: 100%;
	outline: none;
	padding-left: 15px;
	border-radius: 15px;
	border: 1px solid lightgrey;
	border-bottom-width: 2px;
	font-size: 17px;
	transition: all 0.3s ease;
  }
  .form-inner form .field input:focus{
	border-color: #1a75ff;
  }
  .form-inner form .field input::placeholder{
	color: #999;
	transition: all 0.3s ease;
  }
  form .field input:focus::placeholder{
	color: #1a75ff;
  }
  .form-inner form .pass-link{
	margin-top: 5px;
  }
  .form-inner form .signup-link{
	text-align: center;
	margin-top: 30px;
  }
  .form-inner form .pass-link a,
  .form-inner form .signup-link a{
	color: #1a75ff;
	text-decoration: none;
  }
  .form-inner form .pass-link a:hover,
  .form-inner form .signup-link a:hover{
	text-decoration: underline;
  }
  form .btn{
	height: 50px;
	width: 100%;
	border-radius: 15px;
	position: relative;
	overflow: hidden;
  }
  form .btn .btn-layer{
	height: 100%;
	width: 300%;
	position: absolute;
	left: -100%;
	background: -webkit-linear-gradient(right,#003366,#004080,#0059b3
  , #0073e6);
	border-radius: 15px;
	transition: all 0.4s ease;;
  }
  form .btn:hover .btn-layer{
	left: 0;
  }
  form .btn input[type="submit"]{
	height: 100%;
	width: 100%;
	z-index: 1;
	position: relative;
	background: none;
	border: none;
	color: #fff;
	padding-left: 0;
	border-radius: 15px;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
  }

  

/* PARALLAX */
.my_bgimg-1 {
	position: relative;
	opacity: 0.8;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }
  
  .my_bgimg-1:before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	top: 0;
	left: 0;
  }
  
  .my_bgimg-1 {
	background-image: url("https://plus.unsplash.com/premium_photo-1661284866401-5a0edfa7be43?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
	min-height: 400px;
  }

.my_bgimg-2 {
  position: relative;
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.my_bgimg-2:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
}

.my_bgimg-2 {
  background-image: url("https://images.unsplash.com/photo-1463171379579-3fdfb86d6285?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  min-height: 400px;
}


.my_caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.my_caption span.my_border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .my_bgimg-1,
  .my_bgimg-2,
  .my_bgimg-3 {
    background-attachment: scroll;
  }
}



body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    /* height: 100%; */
    color: #0e0d0d;
    line-height: 1.8;
}

/* About Section */
#about {
	margin-top: 8%;
  font-size: 1.4em;
}

#profile {
	height: 280px;
	width: 400px;
}

ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  /* float: left;  */
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}


/* address section */

.address{
	margin-left: -24px;
}